{% extends "upcoming/base.html"%}
{% block content %}
    <main class="m-0">
        <div>
            <div class="p-5">
                <h1 class="text-center text-light">Search your favorite music group!</h1>
                <form action= "concerts/" method="GET">
                    <input type="search" name='artist' class="form-control text-center mb-2" autofocus>
                    <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Search">
                </form>
            </div>
        <div>
    </main>
{% endblock content%}
